/* Page Text Styles*/

.pageTitle {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.pageContentMain {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}